<html>
  <body>
    <p>Now that you've answered the chart, share it with a friend and see what you two have in common! Send them this link: <br><br><a href="/view/{{ id }}?write_pass={{ write_pass }}">https://doiwannaknow.herokuapp.com/view/{{id}}?write_pass={{write_pass}}</a><br><br>. In order to see the results once they are done, you will need your own link, which is <br><br><a href="/view/{{ id }}?read_pass={{ read_pass }}">https://doiwananknow.herokuapp.com/view/{{id}}?read_pass={{read_pass}}</a>.
  </body>
</html>
