<html>
  <body>
  <center>
  <h1>{{ title }}</h1>
  <h3>{{ description }}</h3>
  <br>
  <form id="form">
  {{ #each opinions }}
    <input type="checkbox" name="{{ this }}"><label>{{ this }}</label>
    <br>
  {{ /each }}
  <hr>
  </form>
  <button id="submit">Submit</button>
  <br>
  <p>You can select a maximum of {{ max_checks }} checks.</p>
  </center>
  <script>
    document.getElementById("submit").onclick = _ => {
      let x = [0, 0]
      let result = Array.from(document.getElementById("form").elements)
      .map(check => check.checked)
      
      let last_bit = 0;
      for (let z = 0; z < result.length; z++) {
        last_bit = x[1] >>> 31
        if (z >= 31) {
          x[0] <<= 1
          x[0] |= last_bit
        }
        x[1] <<= 1
        x[1] |= (result[z] === true ? 1 : 0)
      }

      let xml = new XMLHttpRequest()
      xml.open("POST", "/view/" + location.href.split("/").pop() , false)
      xml.send(new Uint32Array(x))
      document.getElementsByTagName("html")[0].innerHTML = xml.response
    }
  </script>
  </body>
<html>

