<html>
  <body>
  <center>
  <h1>{{ title }}</h1>
  <h3>{{ description }}</h3>
  <br>
  <form method="POST">
  {{ #each opinions }}
    <input type="checkbox" name="{{ @index }}"><label>{{ this }}</label>
    <br>
  {{ /each }}
  <hr>
  <input type="submit"></input>
  </form>
  <br>
  <p>You can select a maximum of {{ max_checks }} checks.</p>
  </center>
  </body>
<html>

